<div class="row">
    <div class="col-md-8">
        <h4 class="float-left"><i class="glyphicon glyphicon-cog"></i> Subjects</h4>
        <input type="text"  class=" ml-2 form-control float-left" style="width:200px">
        <a ui-sref="students-create" href class="float-left btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create</a>
    </div>
    <div class="col-md-4">
        <input ng-model="$ctrl.query"
               class="form-control"
               ng-keyup="$ctrl.searchStudents()"
               placeholder="search...">
    </div>
</div>
<br>
<table class="table table-striped">
    <thead>
    <th>Name</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr ng-repeat="subject in $ctrl.subjects">
        <td>
            <span editable-text="subject.name"
                  onaftersave="$ctrl.updateSubject($data, 'name', subject)"
                  onbeforesave="$ctrl.checkName($data, subject)"
                  e-required>
                {{ subject.name || 'name' }}
            </span>
        </td>
        </td>
        <td>
            <div style="margin-top:20px">
                <button class="btn btn-danger" ng-click="$ctrl.removeSubject(subject)"><i class="glyphicon glyphicon-remove-sign "></i> Remove</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<ul uib-pagination
    total-items="$ctrl.totalItems"
    ng-model="$ctrl.currentPage"
    items-per-page="$ctrl.perPage"
    ng-change="$ctrl.fetchStudents()"></ul>
